In [ ]:
def evendiv(x,y,z):
    return(sum(list([i for i in range(x, y+1) if i%z==0])))

print(evendiv(1,10,2))

In [ ]:
#2
def check(a):
  b=eval(a)
  if b:
    return True
  else:
    return False
print(check("5<15<55"))
print(check("15>65>1"))
print(check("1>4<6"))

True
False
False

In [ ]:
#3
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
sandesh
Enter a character:
s

Original String: sandesh
New String: ssndssh

In [ ]:
#4
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
num = 20;
print("Factorial of", num, "is", factorial(num))

Factorial of 20 is 2432902008176640000

In [ ]:
#5
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count 
str1 = "abcdefghijklmn"
str2 = "bcdurtfgcuhwfr"
print(hammingDist(str1, str2))

14

Section **B**

In [ ]:
#1
a= [1,2,45,67,9,6,3,'v','a','b','s']

def filter_list(a):
    new_list = []
    for x in a:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(a))

[1, 2, 45, 67, 9, 6, 3]

In [ ]:
#2
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

In [ ]:
#4
def factorial(n):
      
    if n == 0:
        return 1
     
    return n * factorial(n-1)
num = 5;
print("Factorial of", num, "is",
factorial(num))

Factorial of 5 is 120

In [ ]:
#5
test_list = ['3', '5', '7', '9', '11']
  
print ("The original list is : " + str(test_list))
  
test_list.append(test_list.pop(test_list.index('5')))

print ("The modified element moved list is : " + str(test_list))

The original list is : ['3', '5', '7', '9', '11']
The modified element moved list is : ['3', '7', '9', '11', '5']

Section **C**

In [1]:
def multichar(text, n):
    return ''.join([x * n for x in text])
multichar("Sandesh",2)

'SSaannddeesshh'

In [ ]:
#2
def reverse(arg):
	if isinstance(arg, bool):
		return not arg
	else:
		return('boolean expected')

def reverse(arg=None):
	return not arg if type(arg) == bool else "boolean expected"

print(reverse(True)) 
print(reverse(False)) 
print(reverse(0)) 
print(reverse(None))

In [ ]:
#3
def fn(a):
    res = 0.5
    for i in range(a):
        res *= 2
    
    return res / 1000 
fn(1)

In [ ]:
#4
test_str = 'VedantBudukale'
 

print("The original string is : " + str(test_str))
 

res = [idx for idx in range(len(test_str)) if test_str[idx].isupper()]
 

print("Uppercase elements indices : " + str(res))

In [ ]:
#5

listl=[i for i in range (4) if(i%2==0)]

print(listl)

Section **D**

In [2]:
#1
l = [6,9,4,'ved','budukale']
output = [x for x in l if type(x) != str]
print(output)

[6, 9, 4]

In [ ]:
#3
import math
pi = math.pi
def volume(r, h):
    return (1 / 3) * pi * r * r * h
def surfacearea(r, s):
    return pi * r * s + pi * r * r
radius = float(2)
height = float(3)
slat_height = float(5)
print( "Volume Of Cone : ", volume(radius, height) )
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

In [ ]:
#5
def missing_num(lst):

   for n in range(1,11):

       if n not in lst:

           print(n)

lst = (1,3,4,5,6,7,8,9,10)

missing_num(lst)